*{
    margin: 0;
    padding: 0;
}

.clock {
    position: absolute;
    top: 5%;
    left: 7%;
    transform: translateX(-50%) translateY(-50%);
    color: #2953c8;
    font-size: 3.0vh;
    font-family: 'Barlow Condensed', sans-serif;
    letter-spacing: 5px;
    z-index: 0;
}


.images{
    background-image: 
    url('/img/switch.png'),
    url('/img/bed.png'),
    url('/img/lights.png'),
    url('/img/fan.png'),
    url('/img/justinoff.png'),
    url('/img/neonsign.png'),
    url('/img/Computer2.png'),
    url('/img/bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

.images:hover{
    background-image: 
    url('/animations/switch.gif'),
    url('/img/bed.png'),
    url('/animations/lights.gif'),
    url('/animations/fan.gif'),
    url('/img/justin.png'),
    url('/animations/neonsign.gif'),
    url('/animations/Computer2.gif'),
    url('/img/bg.png');

}

.relax{
    position: absolute;
    padding-left: 2%;
    padding-top: 33%;
}
.square{
    height: 5.0vh;
    width: 5.0vh;
    background-color: rgb(255, 162, 0);
}

.square:hover{
    background-color: rgb(25, 0, 255);
}